:root {
    --primary-main: #015193;
    --primary-light: #249EDC;
    --primary-dark: #00347B;
    --secondary-main: #E62790;
    --secondary-light: #E390D6;
    --secondary-dark: #851C6A;
    --error-main: #F44336;
    --error-light: #E57373;
    --error-dark: #D32F2F;
    --warning-main: #FF9800;
    --warning-light: #FFB74D;
    --warning-dark: #F57C00;
    --info-main: #2197F3;
    --info-light: #64B5F6;
    --info-dark: #1976D2;
    --success-main: #4CAF50;
    --success-light: #81C784;
    --success-dark: #388E3C;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-off-black: #202020;
    --brand-blue: var(--primary-main);
    --brand-magenta: #E3007D;
    --brand-yellow: #FFEF73;
    --brand-teal: #00906E;
    --brand-cyan: #249EDC;
    --gray-50: #FAFAFA;
    --gray-100: #F5F5F5;
    --gray-200: #EEEEEE;
    --gray-300: #EEEEEE;
    --gray-400: #BDBDBD;
    --gray-500: #9E9E9E;
    --gray-600: #9E9E9E;
    --gray-700: #616161;
    --gray-800: #424242;
    --gray-900: #212121;
    --gray-A100: #D5D5D5;
    --gray-A200: #AAAAAA;
    --gray-A400: #616161;
    --gray-A700: #303030;
    --gray-text: #666666;
    --text-width: 45rem;
    --breakpoint-xlarge: 100rem;
    --breakpoint-large: 72rem;
    --breakpoint-medium: 64rem;
    --breakpoint-small: 35rem;
    --breakpoint-xsmall: 25rem;
}